

/* --- Global -------------------------------------------------------------------------------- */

#docs .innerDocs {
	clear: both;
	margin: 10px;
}

#docs .geshiCode pre {
	overflow: auto;
}

#docs .geshiCode, #docs .geshiCode ol, #docs .geshiCode li {
	white-space: nowrap;
}

#docs ul  {
	padding: 0 0 0 25px;
	list-style-type: disc;
}

#docs ol  {
	padding: 0 0 0 25px;
	list-style-type: decimal;
}


#docs li {
	padding-left: 0 !important;
}






/* --- Directory -------------------------------------------------------------------------------- */

#docs #docDirectory {
	position:relative;
	clear: both;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}





/* --- Contens -------------------------------------------------------------------------------- */

#docs #docContents {
	position:relative;
	clear: both;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#docs #docContents .section {
	position:relative;
	clear: both;
	margin: 10px 0;
	width: 98%;
	padding: 1%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#docs #docContents .chapter {
	margin-bottom:30px;
}

#docs #docContents .chapter p, #docs #docContents .chapter li {
	font-size: 13px;
	line-height: 1.3em;
}

#docs #docContents .chapter p {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 100px;
}

#docs #docContents .chapter pre {
	padding: 10px;
	margin: 10px;
	background: #f2f2f2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

